.Catalog {
  &__card {
    background-color: white;
    color: #08212f;
    margin-top: 20px;
  }
  &__description {
    color: #08212f;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 30px;
    text-align: justify;
  }
}
