.Film {
  background-color: #0b151b;
  color: white;
  margin: 0;
  padding: 0;

  &__link {
    display: flex;
    justify-content: center;
  }
  &__button {
    margin-bottom: 20px;
  }

  &__navbar {
    background-color: #00466a;
  }
  &__detail {
    &--title {
      font-size: 1.6rem;
    }
    &--bold {
      font-weight: bold;
    }
  }

  &__container {
    background-color: #333333;

    @media (min-width: 400px) {
      margin: 0 50px;
    }
    @media (min-width: 700px) {
      margin: 0 100px;
    }

    @media (min-width: 1200px) {
      margin: 0 250px;
    }
    td {
      display: flex;
      justify-content: space-around;
    }
  }
}
