.Film {
  color: white;
  background-color: #0b151b;
  padding: 0;
  margin: 0;

  &__navbar {
    background-color: #00466a;
  }
  &__detail {
    &--title {
      font-size: 1.5rem;
    }
    &--bold {
      font-weight: bold;
    }
  }

  &__container {
    background-color: #333333;
    margin: 0 220px;

    @media (max-width: 900px) {
      background-color: red;
      margin: 0;
    }

    td {
      display: flex;
      justify-content: space-around;
    }
  }
}
