.Home {
  &__loading {
    background-color: red;
    color: green !important;
  }
  @media (min-width: 993px) {
    margin: 0 150px;
  }
  .Loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
